<!DOCTYPE html>
<html>
<head>
    <title>Agro Intelligence</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <div class="logo" style="color: rgba(2, 39, 2, 0.963); font-size: xx-large; font-family:'Playfair Display', serif; background-color: rgb(161, 225, 96);">🌿 Agro Intelligence</div>
</nav>

{% block content %}{% endblock %}

</body>
</html>